<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>

    <link rel="stylesheet" href="{{url_for('static', filename='css/bootstrap.css')}}">
    <script src="{{url_for('static', filename='js/bootstrap.js')}}"></script>




<!--    {{url_for('static', filename='css/bootstrap.css')}}-->
</head>
<body>
<!--<img src="{{url_for('static', filename='images/backg.jpg')}}" width="400px" height="400px">-->
<img src="../static/images/backg.jpg" width="400px" height="400px">



</body>
</html>